<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ilson1">
      Suporte
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" >


	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
 
					<form method="POST">
						<div class="field">
							<div class="carv">
							<label  >Nome</label>
							</div>
							<div class="control">
								<input name="name" [(ngModel)]="name" class="input" type="text">
							</div>                       
						</div>
 
						<div class="field">
							<div class="carv">

							<label>Email</label>
							</div>
							<div class="control">
								<input name="email" [(ngModel)]="email" class="input" type="email" >
							</div>
						</div>
 
						<div class="field">
							<div class="carv">

							<label  placeholder="Selecione o assunto">Assunto</label>
							</div>
							<div class="control">
								<div class="select is-fullwidth">
									<select name="assunta" [(ngModel)]="assunta">
										<option>Reportar erro</option>
										<option>Anúncios</option>
										<option>Outro</option>
									</select>
								</div>
							</div>
						</div>
 
						<div class="field">
							<div class="carv">

							<label >Mensagem</label>
							</div>
							<div class="control">
								<textarea name="message" [(ngModel)]="message" class="textarea"   maxlength="2000"></textarea>
							</div>
						</div>
						<div class="text-center">
							<div class="aa">
								<button (click)="evento()" class="button is-link is-medium">Enviar</button>
							</div>
						</div>
					</form>
 
				</div>
			</div>
		</div>
	</section>
</ion-content>