<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >


	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
 
					<form method="POST">
						<div class="field">
							<label class="label">Nome</label>
							<div class="control">
								<input name="name" [(ngModel)]="name" class="input" type="text" placeholder="Seu nome">
							</div>                       
						</div>
 
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input name="email" [(ngModel)]="email" class="input" type="email" placeholder="Seu email">
							</div>
						</div>
 
						<div class="field">
							<label class="label" placeholder="Selecione o assunto">Assunto</label>
							<div class="control">
								<div class="select is-fullwidth">
									<select name="assunta" [(ngModel)]="assunta">
										<option>Reportar erro</option>
										<option>Anúncios</option>
										<option>Outro</option>
									</select>
								</div>
							</div>
						</div>
 
						<div class="field">
							<label class="label">Mensagem</label>
							<div class="control">
								<textarea name="message" [(ngModel)]="message" class="textarea" placeholder="Deixe sua mensagem" maxlength="2000"></textarea>
							</div>
						</div>
						<div class="center">
							<div class="control">
								<button (click)="evento()" class="button is-link is-medium">Enviar</button>
							</div>
						</div>
					</form>
 
				</div>
			</div>
		</div>
	</section>
</ion-content>