<ion-header>
  <ion-toolbar> 
    <ion-buttons  >
    <ion-button (click)="close()">      
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ilson1">Voltar</ion-title>
  </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <br>
  <p class="extra">Pelo seu IMC de <B>{{data.imc.toFixed(2)}}</B> seu os alimentos recomendados pra você são:</p>
  <div class="aaa">
  <ul>
    <li class="ilson">{{info}}</li>
    <li class="ilson">{{info2}}</li>
    <li class="ilson">{{info3}}</li>
    <li class="ilson">{{info4}}</li>
    <li class="ilson">{{info5}}</li>
  </ul>
  <p class="extra1">{{infoExtra}}</p>
  </div>

  <div class="a">
      <ion-slides [options]="sliderOpts" zoom>
       <ion-slide>   
         <div class="swiper-zoom-container">
          <h1 class="paper">Arraste a imagem para o lado e clique nela para dar zoom</h1>
          <ion-img class="rad-img" [src]="img"></ion-img>
         </div>
        </ion-slide>
        <ion-slide>   
          <div class="swiper-zoom-container">
            <ion-img class="rad-img" [src]="img1"></ion-img>
          </div>
         </ion-slide>
         <ion-slide>   
          <div class="swiper-zoom-container">
            <ion-img class="rad-img" [src]="img2"></ion-img>
          </div>
         </ion-slide>
         <ion-slide>   
          <div class="swiper-zoom-container">
            <ion-img class="rad-img" [src]="img3"></ion-img>
          </div>
         </ion-slide>  
         <ion-slide>   
          <div class="swiper-zoom-container">
            <ion-img class="rad-img" [src]="img4"></ion-img>
          </div>
         </ion-slide>   
         <ion-slide>   
          <div class="swiper-zoom-container">
            <ion-img class="rad-img" [src]="img5"></ion-img>
            <h1 class="paper">Arraste a imagem para o lado e clique nela para dar zoom</h1>
          </div>
         </ion-slide> 
      </ion-slides>
  </div>
</ion-content>
