<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ilson1">
      Agendamento de Consultas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
 
					<form method="POST">
							<div class="carv">
							<h2 >Nome</h2>
							</div>
							<div class="control">
								<input name="name" [(ngModel)]="name" class="input" type="text">
							</div>                       
						
 
						 
							<div class="carv">

							<h2  >Email</h2>
							</div>
							<div class="control">
								<input name="email" [(ngModel)]="email" class="input" type="email" >
							</div>
						 
 
						
							<div class="carv">

							<h2>CPF</h2>
							</div>
							<div class="control">
								<input name="cpf" [(ngModel)]="cpf" class="input" type="cpf" >
							</div>
						

							<div class="carv">

							<h2 >Cidade</h2>
							</div>
							<div class="control">
								<input name="cidade" [(ngModel)]="cidade" class="input" type="cidade" >
							</div>
					 
							<div class="carv">

							<h2  >Tipo Sanguineo</h2>
							</div>
							<div class="control">
								<input name="sang" [(ngModel)]="sang" class="input" type="sang" >
							</div>
					
           
							<div class="carv">

							<h2 >Data de Nascimento</h2>
							</div>
							<div class="control">
								<input name="data" type="date"[(ngModel)]="data" class="input" type="data" >
							</div>
					 
							<div class="carv">

							<h2 >Telefone</h2>
							</div>
							<div class="control">
								<input name="telefone" [(ngModel)]="telefone" class="input" type="telefone" >
							</div>
					 

						<div class="text-center">
							<div class="aa">
								<button (click)="onclick()"  class="button is-link is-medium">Enviar</button>
							</div>
						</div>
					</form>
 
				</div>
			</div>
		</div>
	</section>
</ion-content>
